@charset "utf-8";
  

.container {
    width: 100%;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
  
input[type=text]{
		 text-transform:uppercase;
}
 
.Acoes{
	width:	auto;
}   

.entry:not(:first-of-type)
{
    margin-top: 10px;
}

.glyphicon
{
    font-size: 12px;
}

td {
 padding:2px;   
}
 
body {

  background:linear-gradient(to top, rgb(26, 41, 128), rgb(0, 101, 127)) no-repeat center center fixed;
  
  background-size: cover;
  padding: 0;
  margin: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  height:100%;
  width: 100%;

}

   /* ~~ Seletores de elementos/tag ~~ 
   ul, ol, dl { /* Devido a variações entre navegadores, é recomendado zerar o padding e as margem nas listas. É possível especificar as quantidades aqui ou nos itens da lista (LI, DT, DD) que eles contêm. Lembre-se: o que você fizer aqui ficará em cascata para a lista de navegação a não ser que você escreva outro seletor mais específico. 
   	padding: 0;
   	margin: 0;
   }
   */
   h1, h2, h3, h4, h5, h6 {
   	margin-top: 20px;	 /* ao remover a margem superior, as margens podem escapar das suas containing block. A margem inferior restante vai mantê-la afastada de qualquer elemento que se segue. */
   	padding-right: 15px;
   	padding-left: 15px; /* ao adicionar o padding aos lados dos elementos dentro dos blocos, ao invés dos próprios elementos dos blocos, qualquer combinação de modelo de caixa será removida. Um bloco aninhado com padding lateral também pode ser usado como método alternativo. */
   	color:#424242;
   }
   
   p{
   	color:#555;
   }
   a img { /* esse seletor remove a borda azul padrão exibida em alguns navegadores ao redor de uma imagem circundada por um link. */
   	border: none;
   }
   /* ~~ A estilização dos links do seu site deve permanecer nesta ordem – incluindo o grupo de seletores que criam o efeito hover. ~~ */
   a:link {
   	/*color: #42413C;*/
   	text-decoration: none; /* a não ser que você crie o estilo de seus links para que pareçam totalmente exclusivos, é melhor utilizar links sublinhados para uma identificação visual mais rápida. */
    text-decoration-style: solid;
   }
   a:visited {
   	text-decoration: none;
   }
   a:hover, a:active, a:focus { /* esse grupo de seletores dará ao navegador que estiver usando um teclado, a mesma sensação de focalizar como se estivesse usando um mouse. */
   	text-decoration: none;
   }
   /* ~~ Esse contêiner de largura fixa envolve todos os outros blocos~~ */
   /* ~~ O cabeçalho não tem uma largura predeterminada. Ele se estenderá por toda a largura do seu layout. ~~ */

	.container{
   padding:0px;
   background-color:#FFFFFF;
	}

	.main{
 	width: 100%; height: 100%;
 	float: left;
 	background-image: url(../imagens/BG_Destaque2.png);
 	background-repeat: no-repeat;
 	background-size: cover;
 	background-position: center;
	}

	#teste{
 	background:url(../imagens/bgform.png);
 	background-repeat:repeat;
	}
 
 .acesso{
   margin: 0px;
   padding: 3px 0px 9px;
   color: #000;
   font-size: 32px;
   width: 100%;
   text-align: center;
   font-weight: normal;
   background: #eeeeee;
   font-size: 22px;
   }
 .areatxtlogin {
   width: 100%;
   float: left;
 }
   .btnvertodos{
 	  margin-left:15px;
 	}
  .consultar{
 	margin-left:5%; 
 	}
 	#box{
     width:760px;
     height:50px;
     background-color:#CCC;
     border-radius: 10px;
     margin-top:0px;
     }
   header {
   	width:100%;
   	
   }
   header #topo{
   	width:100%; 
   	margin:0 auto;
  	/*padding-top:10px;
  	padding-left:10px;  */
  	height:110px;
   }
     header .logo{
   	margin:0 auto;
   	vertical-align:middle;
     float:left;
     }
     header .descricao{
     float:left;
   	padding-left:5%;
     }
     header .descricao2{
     float:left;
   	padding-left:49%;
     }
     header .bv{
     float:left;
   	padding-left:50%;
     }
   .formulario{
   	padding:10px;
   }
   .form-horizontal{
   	padding:10px;
   	}
  .navbar-collapse.collapse {
  clear:both;
  padding:0px;
  
    background-image: linear-gradient(to left, #097AC3, #058FB1);
  /*  background-image: linear-gradient(to left, #097AC3, #00667F)*/
  
  }
     /* inicio migalha*/
     #migalha{
     	padding:0.5em 1.5em;
		font-size:11px;
     }  
     .CelulaMigalhaLink{
 		height:30px;
 		background-color: #F5F5F5;
 /*  	border-bottom: 3px dotted #3C7FAF;
     	border-top: 3px dotted #3C7FAF; */
     }
     .CelulaMigalhaLink a{
     	text-decoration: none;
     	color:#000000;
     }
     .CelulaMigalhaLink a:visited{
     	text-decoration: none;
     	color:#000000;
     }
     .CelulaMigalhaLink a:hover{
     	text-decoration: none;
     	color: #4682B4;
     }
   /* fim migalha */
     
   /* ~~ Essas são as colunas do layout. ~~ 
   1) O padding é colocado somente na parte superior e/ou inferior dos elementos de blocos. Os elementos nesses blocos têm padding em seus lados impedindo o surgimento do “modelo tipo caixa”. Lembre-se: ao adicionar qualquer padding lateral ou borda ao próprio bloco, ele será adicionado à largura que você define para criar a largura *total*. Também é possível remover o padding no elemento dentro do bloco e estabelecer um segundo elemento de bloco dentro do primeiro, sem largura, e com o padding necessário para o seu design.
   2) Como as colunas são todas flutuantes, não foi atribuída nenhuma margem a elas. Se for necessário adicionar margem, evite colocá-la no lado flutuante (por exemplo, uma margem direita em um bloco definido para flutuar à direita). Em vez disso, muitas vezes é utilizado o padding . Para os blocos em que essa regra tem que ser quebrada, é necessário adicionar a declaração "exibição: inline" à regra do elemento de bloco para solucionar um erro recorrente em algumas versões do Internet Explorer em que a imagem é duplicada.
   3) Como as classes podem ser usadas diversas vezes em um documento (e um elemento também pode ter várias classes aplicadas), foram atribuídas às colunas nomes de classe ao invés de IDs. Por exemplo, se for necessário, os blocos com duas barras laterais podem ser empilhados. Se preferir, é possível alterar facilmente para os IDs desde que esteja usando-os somente uma vez em cada documento.
   4) Caso prefira seu navegador à esquerda ao invés de à direita, simplesmente flutue essas colunas para a direção oposta, todas à esquerda ao invés de à direita, e elas serão apresentadas na ordem inversa. Não há necessidade de mover os blocos em torno da fonte HTML.
   */
   .sidebar1 {
   	float: left;
   	width: 180px;
   	background-color: #EADCAE;
   	padding-bottom: 10px;
   }
   .content {
   	padding: 0;
   	width: 100%;
   	float: left;
   }
   aside {
   	float: left;
   	width: 180px;
   	background-color: #EADCAE;
   	padding: 10px 0;
   }
   /* ~~ O rodapé ~~ */
   footer {
   	padding: 10px 0;
   	background-color: #FFF;
   	position: relative;/* isso possibilita que o hasLayout do IE6 faça a limpeza corretamente. */
   	clear: both; /* essa propriedade de limpeza força o contêiner a reconhecer o conteúdo das colunas e onde elas terminam. */
   }
   /* ~~ Flutuações diversas/limpeza de classes ~~ */
   .fltrt {  /* essa classe pode ser usada para flutuar um elemento à direita da página. O elemento flutuado deve preceder o elemento e ser o próximo da página. */
   	float: right;
   	margin-left: 8px;
   }
   .fltlft { /* essa classe pode ser usada para flutuar um elemento à esquerda da página. O elemento flutuado deve preceder o elemento e ser o próximo da página. */
   	float: left;
   	margin-right: 8px;
   }
   .clearfloat { /* essa classe pode ser colocada em um <br /> ou em um elemento de bloco vazio como o elemento final que segue o último bloco flutuado (no contêiner) caso o rodapé seja removido ou retirado do contêiner. */
   	clear:both;
   	height:0;
   	font-size: 1px;
   	line-height: 0px;
   }
   /*Suporte HTML5 – Define novas tags do HTML5 para exibir blocos. Assim os navegadores saberão como processar as tags de forma apropriada. */
   header, section, footer, aside, article, figure {
   	display: block;
   }
  

/* upload */  
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}


    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
	
